.button {
  display: block;
  padding: 10px 24px;
  color: var(--color-primary-light);
  font-weight: 600;
  border-radius: 8px;
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  cursor: pointer;
  font-size: 18px;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}
